.medsSection {
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px;
    padding: 10px;
}

.medsSection__title {
    text-align: center;
    margin: 15px 0px;
}

.medicationForm {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 35px;
}

.medicationForm__input__areas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.medicationForm__input__area__medication {
    margin-left: 10px;
    width: 300px;
}

.medicationForm__input__area__medicationDosage {
    width: 300px;
}

.medication {
    display: flex;
    flex-direction: row;
}

.medication__DeleteButton {
    width: 25px;
    height: 25px;
    font-size: 13px;
    margin-right: 4px;
}




.supplementSection {
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.supplementSection__title {
    text-align: center;
    margin: 15px 0px;
}

.supplementForm {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 35px;
    
}

.supplementForm__input__areas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.supplementForm__input__area__supplement {
    margin-left: 10px;
    width: 300px;
}

.supplementForm__input__area__supplementDosage {
    width: 300px;
}

.supplement {
    display: flex;
    flex-direction: row;
}

.supplement__DeleteButton {
    width: 25px;
    height: 25px;
    font-size: 13px;
    margin-right: 4px;
}