.rightSideChildCSS {
    float: right;
    width: 62%;
    margin-right: 40px;
}


.container--left {
    float: left;
    width: 35%;
}


.form--login {
    border: 2px solid black;
    margin: 20px;
    min-height: 16rem;
    min-width: 35rem;
    padding: 15px;
}


.alertEmoji {
    color: #386771;
    font-size: 50px;
    text-align: center;
}


.nav-link {
   margin-left: 1.0rem;
}