.rightSideChildCSS {
    float: right;
    width: 62%;
}

.container--left {
    float: left;
    width: 35%;
}

.form--login {
    border: 2px solid black;
    margin: 20px;
    min-height: 16rem;
    min-width: 35rem;
    padding: 15px;
}