.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

#logout_button {
    background-color: #809DA4;
    border-color: #809DA4;
    margin: 5px;
}